/* colors/brand.css */
@import "./palette.css";

/* ----------------------------------------
Brand Color Tokens
------------------------------------------- */

:root {
	/* Primary Color Tokens
	--------------------------------------- */
	--ref-color-primary-10: var(--ref-palette-active-red-10);
	--ref-color-primary-20: var(--ref-palette-active-red-20);
	--ref-color-primary-30: var(--ref-palette-active-red-30);
	--ref-color-primary-40: var(--ref-palette-active-red-40);
	--ref-color-primary-50: var(--ref-palette-active-red-50);
	--ref-color-primary-60: var(--ref-palette-active-red-60);
	--ref-color-primary-70: var(--ref-palette-active-red-70);
	--ref-color-primary-80: var(--ref-palette-active-red-80);
	--ref-color-primary-90: var(--ref-palette-active-red-90);

	/* Secondary Color Tokens
	--------------------------------------- */
	--ref-color-secondary-5: var(--ref-palette-cool-gray-5);
	--ref-color-secondary-10: var(--ref-palette-cool-gray-10);
	--ref-color-secondary-15: var(--ref-palette-cool-gray-15);
	--ref-color-secondary-20: var(--ref-palette-cool-gray-20);
	--ref-color-secondary-25: var(--ref-palette-cool-gray-25);
	--ref-color-secondary-30: var(--ref-palette-cool-gray-30);
	--ref-color-secondary-30-a50: #5b5d6680; /*color(from var(--ref-palette-cool-gray-30) srgb r g b / 0.5);*/
	--ref-color-secondary-35: var(--ref-palette-cool-gray-35);
	--ref-color-secondary-40: var(--ref-palette-cool-gray-40);
	--ref-color-secondary-45: var(--ref-palette-cool-gray-45);
	--ref-color-secondary-50: var(--ref-palette-cool-gray-50);
	--ref-color-secondary-55: var(--ref-palette-cool-gray-55);
	--ref-color-secondary-60: var(--ref-palette-cool-gray-60);
	--ref-color-secondary-60-a30: #9b9fab4d; /*color(from var(--ref-palette-cool-gray-60) srgb r g b / 0.3);*/
	--ref-color-secondary-65: var(--ref-palette-cool-gray-65);
	--ref-color-secondary-70: var(--ref-palette-cool-gray-70);
	--ref-color-secondary-75: var(--ref-palette-cool-gray-75);
	--ref-color-secondary-80: var(--ref-palette-cool-gray-80);
	--ref-color-secondary-85: var(--ref-palette-cool-gray-85);
	--ref-color-secondary-90: var(--ref-palette-cool-gray-90);
	--ref-color-secondary-95: var(--ref-palette-cool-gray-95);

	/* Base Color Tokens
	--------------------------------------- */
	--ref-color-base-0: var(--ref-palette-black);
	--ref-color-base-0-a0: #00000000; /*color(from var(--ref-palette-black) srgb r g b / 0);*/
	--ref-color-base-0-a25: #00000040; /*color(from var(--ref-palette-black) srgb r g b / 0.25);*/
	--ref-color-base-0-a35: #00000059; /*color(from var(--ref-palette-black) srgb r g b / 0.35);*/
	--ref-color-base-0-a50: #00000080; /*color(from var(--ref-palette-black) srgb r g b / 0.5);*/
	--ref-color-base-0-a70: #000000b3; /*color(from var(--ref-palette-black) srgb r g b / 0.7) */
	--ref-color-base-5: var(--ref-palette-gray-5);
	--ref-color-base-5-a30: #1a1a1a4d; /*color(from var(--ref-palette-gray-5) srgb r g b / 0.3);*/
	--ref-color-base-10: var(--ref-palette-gray-10);
	--ref-color-base-10-a40: #26262666; /*color(from var(--ref-palette-gray-10) srgb r g b / 0.4);*/
	--ref-color-base-15: var(--ref-palette-gray-15);
	--ref-color-base-20: var(--ref-palette-gray-20);
	--ref-color-base-25: var(--ref-palette-gray-25);
	--ref-color-base-30: var(--ref-palette-gray-30);
	--ref-color-base-35: var(--ref-palette-gray-35);
	--ref-color-base-40: var(--ref-palette-gray-40);
	--ref-color-base-40-a70: #696969b3; /*color(from var(--ref-palette-gray-40) srgb r g b / 0.7)*/
	--ref-color-base-45: var(--ref-palette-gray-45);
	--ref-color-base-50: var(--ref-palette-gray-50);
	--ref-color-base-55: var(--ref-palette-gray-55);
	--ref-color-base-60: var(--ref-palette-gray-60);
	--ref-color-base-65: var(--ref-palette-gray-65);
	--ref-color-base-70: var(--ref-palette-gray-70);
	--ref-color-base-75: var(--ref-palette-gray-75);
	--ref-color-base-75-a30: #bfbfbf4d; /*color(from var(--ref-palette-gray-75) srgb r g b / 0.3);*/
	--ref-color-base-80: var(--ref-palette-gray-80);
	--ref-color-base-85: var(--ref-palette-gray-85);
	--ref-color-base-90: var(--ref-palette-gray-90);
	--ref-color-base-95: var(--ref-palette-gray-95);
	--ref-color-base-100: var(--ref-palette-white);
	--ref-color-base-100-a4: #ffffff0a; /*color(from var(--ref-palette-white) srgb r g b / 0.04);*/
	--ref-color-base-100-a10: #ffffff1a; /*color(from var(--ref-palette-white) srgb r g b / 0.1);*/
	--ref-color-base-100-a20: #ffffff33; /*color(from var(--ref-palette-white) srgb r g b / 0.2);*/
	--ref-color-base-100-a30: #ffffff4d; /*color(from var(--ref-palette-white) srgb r g b / 0.3);*/
	--ref-color-base-100-a70: #ffffffb3; /*color(from var(--ref-palette-white) srgb r g b / 0.7);*/
	--ref-color-base-100-a75: #ffffffbf; /*color(from var(--ref-palette-white) srgb r g b / 0.75);*/
}
