/* fonts/weights.css */

/* ----------------------------------------
Font Weight Tokens
------------------------------------------- */

:root {
    --ref-font-weight-light: light;
    --ref-font-weight-regular: regular;
    --ref-font-weight-semibold: semibold;
    --ref-font-weight-bold: bold;
    --ref-font-weight-light-oblique: light oblique;
    --ref-font-weight-regular-oblique: regular oblique;
    --ref-font-weight-semibold-oblique: semibold oblique;
    --ref-font-weight-bold-oblique: bold oblique;
}
