/* alias.css */

@import "./color-brand.css";
@import "./font-size.css";
@import "./font-weight.css";
@import "./border-radius.css";
@import "./spacing.css";

:root {
	/* Colors Alias Tokens */
	--alias-color-surface-full: var(--ref-color-base-0);
	--alias-color-surface-overlay: var(--ref-color-secondary-15);
	--alias-color-surface-popup: var(--ref-color-base-90);
	--alias-color-accent: var(--ref-color-primary-50);
	--alias-color-accent-green: var(--ref-palette-green-50);
	--alias-color-accent-sub: var(--ref-color-primary-70);
	--alias-color-invalid: var(--ref-palette-orange-50);
	--alias-color-shadow: var(--ref-color-base-0-a35);
	--alias-color-scrim-a70: var(--ref-color-base-0-a70);
	--alias-color-scrim-a50: var(--ref-color-base-0-a50);
	--alias-color-rec: #ff5354;

	/* Container */
	--alias-color-container-group: var(--ref-color-base-100-a10);
	--alias-color-container-group-on-image: var(--ref-color-base-0-a50);
	--alias-color-container-normal: var(--ref-color-secondary-30);
	--alias-color-container-normal-alpha: var(--ref-color-secondary-30-a50);
	--alias-color-container-focused: var(--ref-color-base-100);
	--alias-color-container-selected: var(--ref-color-secondary-10);
	--alias-color-container-selected-alpha10: var(--ref-color-base-100-a10);
	--alias-color-container-selected-alpha20: var(--ref-color-base-100-a20);
	--alias-color-container-disabled-focused: var(--ref-color-base-70);

	/* On */
	--alias-color-on-surface-main: var(--ref-color-base-100);
	--alias-color-on-container-main: var(--ref-color-base-100);
	--alias-color-on-popup-main: var(--ref-color-base-10);
	--alias-color-on-focused: var(--ref-color-base-10);
	--alias-color-on-selected: var(--ref-color-base-100);
	--alias-color-on-surface-sub: var(--ref-color-base-100-a70);
	--alias-color-on-container-sub: var(--ref-color-base-100-a70);
	--alias-color-on-popup-sub: var(--ref-color-base-0-a70);
	--alias-color-on-sub-focused: var(--ref-color-base-0-a70);
	--alias-color-on-sub-selected: var(--ref-color-base-50);
	--alias-color-on-index: var(--ref-color-base-70);
	--alias-color-on-keyguide: var(--ref-color-base-50);
	--alias-color-on-border-full: var(--ref-color-base-100);
	--alias-color-on-border-overlay: var(--ref-color-secondary-30);
	--alias-color-on-border-selected: var(--ref-color-secondary-40);

	/* Indicator */
	--alias-color-indicator-icon-inactive: var(--ref-color-secondary-60);
	--alias-color-indicator-icon-inactive-focused: var(--ref-color-secondary-60);
	--alias-color-indicator-icon-active: var(--ref-color-base-100);
	--alias-color-indicator-icon-active-focused: var(--ref-color-base-10);

	/* Progress */
	--alias-color-progress-bar: var(--alias-color-accent);
	--alias-color-progress-bg: var(--ref-color-base-40-a70);
	--ailas-color-progress-buffer: var(--ref-color-base-60);

	/* Selection */
	--alias-color-selection-icon-selected: var(--alias-color-on-selected);
	--alias-color-selection-icon-selected-disabled: var(--ref-color-base-30);
	--alias-color-selection-icon-selected-disabled-focused: var(--ref-color-base-65);
	--alias-color-selection-border: var(--alias-color-on-surface-main);
	--alias-color-selection-border-focused: var(--alias-color-on-focused);
	--alias-color-selection-border-disabled: var(--ref-color-base-30);
	--alias-color-selection-border-disabled-focused: var(--ref-color-base-65);
	--alias-color-selection-border-indeterminate: var(--alias-color-on-surface-main);
	--alias-color-selection-border-indeterminate-focused: var(--alias-color-on-focused);
	--alias-color-selection-border-indeterminate-disabled: var(--ref-color-base-30);
	--alias-color-selection-border-indeterminate-disabled-focused: var(--ref-color-base-65);
	--alias-color-selection-bg-active: var(--alias-color-accent);
	--alias-color-selection-bg-active-disabled: var(--ref-color-base-20);
	--alias-color-selection-bg-active-disabled-focused: var(--ref-color-base-60);

	/* Styles Alias Tokens */
	--alias-radius-button: var(--ref-border-radius-24);
	--alias-radius-container: var(--ref-border-radius-36);
	--alias-radius-overlay: var(--ref-border-radius-60);
	--alias-radius-popup: var(--ref-border-radius-60);
}
