/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: LicenseRef-LGE-Proprietary
 */

@import "@enovaui/core-tokens/css/radius-primitive.css";

/* ----------------------------------------
Semantic Radius Tokens
------------------------------------------- */

:root {
	--semantic-radius-full: var(--primitive-radius-999);
	--semantic-radius-button: var(--primitive-radius-24);
	--semantic-radius-container: var(--primitive-radius-36);
	--semantic-radius-overlay: var(--primitive-radius-60);
	--semantic-radius-popup: var(--primitive-radius-60);
}
