/*
 * SPDX-FileCopyrightText: Copyright 2025 LG Electronics Inc.
 * SPDX-License-Identifier: Apache-2.0
 */
 
/* color-primitive.css */

/* ----------------------------------------
Primitive Color Tokens
------------------------------------------- */

:root {
	/* Gray Scale
	--------------------------------------- */
	--primitive-color-black: #000000;
	--primitive-color-white: #ffffff;

	/* Neutral Gray
	--------------------------------------- */
	--primitive-color-neutral-gray-5: #1a1a1a;
	--primitive-color-neutral-gray-10: #262626;
	--primitive-color-neutral-gray-15: #303030;
	--primitive-color-neutral-gray-20: #3b3b3b;
	--primitive-color-neutral-gray-25: #454545;
	--primitive-color-neutral-gray-30: #4f4f4f;
	--primitive-color-neutral-gray-35: #5c5c5c;
	--primitive-color-neutral-gray-40: #696969;
	--primitive-color-neutral-gray-45: #737373;
	--primitive-color-neutral-gray-50: #7d7d7d;
	--primitive-color-neutral-gray-55: #8a8a8a;
	--primitive-color-neutral-gray-60: #969696;
	--primitive-color-neutral-gray-65: #a6a6a6;
	--primitive-color-neutral-gray-70: #b3b3b3;
	--primitive-color-neutral-gray-75: #bfbfbf;
	--primitive-color-neutral-gray-80: #cccccc;
	--primitive-color-neutral-gray-85: #d9d9d9;
	--primitive-color-neutral-gray-90: #e0e0e0;
	--primitive-color-neutral-gray-95: #f2f2f2;
	--primitive-color-neutral-gray-99: #fafafa;

	/* Mist Gray
	--------------------------------------- */
	--primitive-color-mist-gray-5: #090909;
	--primitive-color-mist-gray-10: #111111;
	--primitive-color-mist-gray-15: #1f1f1f;
	--primitive-color-mist-gray-20: #2d2d2d;
	--primitive-color-mist-gray-25: #393939;
	--primitive-color-mist-gray-30: #454749;
	--primitive-color-mist-gray-35: #4e5255;
	--primitive-color-mist-gray-40: #5c5f61;
	--primitive-color-mist-gray-45: #697072;
	--primitive-color-mist-gray-50: #757779;
	--primitive-color-mist-gray-55: #828586;
	--primitive-color-mist-gray-60: #8f9193;
	--primitive-color-mist-gray-65: #9a9b9e;
	--primitive-color-mist-gray-70: #aaabae;
	--primitive-color-mist-gray-75: #b4b5b7;
	--primitive-color-mist-gray-80: #c5c6c9;
	--primitive-color-mist-gray-85: #d3d4d7;
	--primitive-color-mist-gray-90: #e1e2e5;
	--primitive-color-mist-gray-95: #eff1f4;
	--primitive-color-mist-gray-99: #f7f8fa;

	/* Cool Gray
	--------------------------------------- */
	--primitive-color-cool-gray-5: #1b1c1f;
	--primitive-color-cool-gray-10: #26282b;
	--primitive-color-cool-gray-15: #393a40;
	--primitive-color-cool-gray-20: #42444a;
	--primitive-color-cool-gray-25: #4f5159;
	--primitive-color-cool-gray-30: #5b5d66;
	--primitive-color-cool-gray-35: #666973;
	--primitive-color-cool-gray-40: #727580;
	--primitive-color-cool-gray-45: #7b7e8a;
	--primitive-color-cool-gray-50: #848894;
	--primitive-color-cool-gray-55: #8d909e;
	--primitive-color-cool-gray-60: #9b9fab;
	--primitive-color-cool-gray-65: #a9adba;
	--primitive-color-cool-gray-70: #b4b8c2;
	--primitive-color-cool-gray-75: #c2c4cc;
	--primitive-color-cool-gray-80: #cecfd6;
	--primitive-color-cool-gray-85: #dadce3;
	--primitive-color-cool-gray-90: #e8e9ed;
	--primitive-color-cool-gray-95: #f2f3f5;
	--primitive-color-cool-gray-99: #fcfcfc;

	/* Blue Gray
	--------------------------------------- */
	--primitive-color-blue-gray-5: #080e15;
	--primitive-color-blue-gray-10: #111c2a;
	--primitive-color-blue-gray-15: #1b2735;
	--primitive-color-blue-gray-20: #26313f;
	--primitive-color-blue-gray-25: #313a46;
	--primitive-color-blue-gray-30: #3e454d;
	--primitive-color-blue-gray-35: #4a5058;
	--primitive-color-blue-gray-40: #555b64;
	--primitive-color-blue-gray-45: #5d646d;
	--primitive-color-blue-gray-50: #676e78;
	--primitive-color-blue-gray-55: #79848f;
	--primitive-color-blue-gray-60: #8f98a6;
	--primitive-color-blue-gray-65: #9ba2ad;
	--primitive-color-blue-gray-70: #a1acbf;
	--primitive-color-blue-gray-75: #b6bbd1;
	--primitive-color-blue-gray-80: #cad0dd;
	--primitive-color-blue-gray-85: #d8d8e5;
	--primitive-color-blue-gray-90: #dfe2ec;
	--primitive-color-blue-gray-95: #eef1fb;
	--primitive-color-blue-gray-99: #fcfdff;

	/* Warm Gray
	--------------------------------------- */
	--primitive-color-warm-gray-5: #1a1a1a;
	--primitive-color-warm-gray-10: #262626;
	--primitive-color-warm-gray-15: #333333;
	--primitive-color-warm-gray-20: #3d3d3d;
	--primitive-color-warm-gray-25: #4a4a49;
	--primitive-color-warm-gray-30: #5c5b5a;
	--primitive-color-warm-gray-35: #6b6a68;
	--primitive-color-warm-gray-40: #7e7c77;
	--primitive-color-warm-gray-45: #878580;
	--primitive-color-warm-gray-50: #94928d;
	--primitive-color-warm-gray-55: #a19e99;
	--primitive-color-warm-gray-60: #aba8a2;
	--primitive-color-warm-gray-65: #bdbab5;
	--primitive-color-warm-gray-70: #cbc8c2;
	--primitive-color-warm-gray-75: #dbd7ce;
	--primitive-color-warm-gray-80: #e6e1d6;
	--primitive-color-warm-gray-85: #f0ebe2;
	--primitive-color-warm-gray-90: #f6f3eb;
	--primitive-color-warm-gray-95: #faf9f5;
	--primitive-color-warm-gray-99: #fcf9f6;

	/* Active Red
	--------------------------------------- */
	--primitive-color-active-red-5: #210001;
	--primitive-color-active-red-10: #410002;
	--primitive-color-active-red-15: #550004;
	--primitive-color-active-red-20: #690005;
	--primitive-color-active-red-25: #7c0007;
	--primitive-color-active-red-30: #93000a;
	--primitive-color-active-red-35: #a7000c;
	--primitive-color-active-red-40: #c00011;
	--primitive-color-active-red-45: #d40b14;
	--primitive-color-active-red-50: #ea1917;
	--primitive-color-active-red-55: #fd312e;
	--primitive-color-active-red-60: #ff5449;
	--primitive-color-active-red-65: #ff6b63;
	--primitive-color-active-red-70: #ff897d;
	--primitive-color-active-red-75: #ffa294;
	--primitive-color-active-red-80: #ffb4ab;
	--primitive-color-active-red-85: #ffcdbf;
	--primitive-color-active-red-90: #ffdad6;
	--primitive-color-active-red-95: #ffedea;
	--primitive-color-active-red-99: #fffbfb;

	/* Red Orange
	--------------------------------------- */
	--primitive-color-red-orange-5: #200200;
	--primitive-color-red-orange-10: #3f0400;
	--primitive-color-red-orange-15: #520700;
	--primitive-color-red-orange-20: #650b00;
	--primitive-color-red-orange-25: #850d00;
	--primitive-color-red-orange-30: #a51600;
	--primitive-color-red-orange-35: #bb1700;
	--primitive-color-red-orange-40: #d11800;
	--primitive-color-red-orange-45: #e92600;
	--primitive-color-red-orange-50: #f93600;
	--primitive-color-red-orange-55: #ff4448;
	--primitive-color-red-orange-60: #ff5330;
	--primitive-color-red-orange-65: #ff6b4d;
	--primitive-color-red-orange-70: #ff8a6e;
	--primitive-color-red-orange-75: #ffa58b;
	--primitive-color-red-orange-80: #ffb4a2;
	--primitive-color-red-orange-85: #ffcdb7;
	--primitive-color-red-orange-90: #ffd9d2;
	--primitive-color-red-orange-95: #ffede8;
	--primitive-color-red-orange-99: #fffcfb;

	/* Deep Orange
	--------------------------------------- */
	--primitive-color-deep-orange-5: #1a0b06;
	--primitive-color-deep-orange-10: #33160d;
	--primitive-color-deep-orange-15: #4a2114;
	--primitive-color-deep-orange-20: #662c1a;
	--primitive-color-deep-orange-25: #80361f;
	--primitive-color-deep-orange-30: #994227;
	--primitive-color-deep-orange-35: #b24d2c;
	--primitive-color-deep-orange-40: #cc5834;
	--primitive-color-deep-orange-45: #e8623b;
	--primitive-color-deep-orange-50: #ff6e42;
	--primitive-color-deep-orange-55: #ff7f54;
	--primitive-color-deep-orange-60: #ff8b67;
	--primitive-color-deep-orange-65: #ff9a77;
	--primitive-color-deep-orange-70: #ffa88d;
	--primitive-color-deep-orange-75: #ffb8a0;
	--primitive-color-deep-orange-80: #ffc5b3;
	--primitive-color-deep-orange-85: #ffd3c6;
	--primitive-color-deep-orange-90: #ffe2d9;
	--primitive-color-deep-orange-95: #fff0ec;
	--primitive-color-deep-orange-99: #fffaf9;

	/* Orange
	--------------------------------------- */
	--primitive-color-orange-5: #180a00;
	--primitive-color-orange-10: #301300;
	--primitive-color-orange-15: #401900;
	--primitive-color-orange-20: #502500;
	--primitive-color-orange-25: #602c00;
	--primitive-color-orange-30: #703700;
	--primitive-color-orange-35: #823f00;
	--primitive-color-orange-40: #934b01;
	--primitive-color-orange-45: #a55401;
	--primitive-color-orange-50: #b95f01;
	--primitive-color-orange-55: #cb6600;
	--primitive-color-orange-60: #e07400;
	--primitive-color-orange-65: #f97f0b;
	--primitive-color-orange-70: #ff8b1b;
	--primitive-color-orange-75: #ff9d4c;
	--primitive-color-orange-80: #ffb77f;
	--primitive-color-orange-85: #ffcfa1;
	--primitive-color-orange-90: #ffdcc3;
	--primitive-color-orange-95: #ffede0;
	--primitive-color-orange-99: #fffdfb;

	/* Yellow
	--------------------------------------- */
	--primitive-color-yellow-5: #110d03;
	--primitive-color-yellow-10: #221b06;
	--primitive-color-yellow-15: #301f04;
	--primitive-color-yellow-20: #3f2e00;
	--primitive-color-yellow-25: #4a3900;
	--primitive-color-yellow-30: #5a4400;
	--primitive-color-yellow-35: #685000;
	--primitive-color-yellow-40: #765a00;
	--primitive-color-yellow-45: #866500;
	--primitive-color-yellow-50: #967101;
	--primitive-color-yellow-55: #a87f00;
	--primitive-color-yellow-60: #b48b00;
	--primitive-color-yellow-65: #d09f02;
	--primitive-color-yellow-70: #eeb404;
	--primitive-color-yellow-75: #f9bf16;
	--primitive-color-yellow-80: #ffca28;
	--primitive-color-yellow-85: #ffdc59;
	--primitive-color-yellow-90: #ffdf8b;
	--primitive-color-yellow-95: #feefca;
	--primitive-color-yellow-99: #fffdf2;

	/* Yellow Green
	--------------------------------------- */
	--primitive-color-yellow-green-5: #090f06;
	--primitive-color-yellow-green-10: #121f0c;
	--primitive-color-yellow-green-15: #1b2f11;
	--primitive-color-yellow-green-20: #263e17;
	--primitive-color-yellow-green-25: #2d4f1d;
	--primitive-color-yellow-green-30: #375d23;
	--primitive-color-yellow-green-35: #427328;
	--primitive-color-yellow-green-40: #497c2e;
	--primitive-color-yellow-green-45: #529233;
	--primitive-color-yellow-green-50: #5b9a3a;
	--primitive-color-yellow-green-55: #659b40;
	--primitive-color-yellow-green-60: #6fb946;
	--primitive-color-yellow-green-65: #7cc155;
	--primitive-color-yellow-green-70: #86c465;
	--primitive-color-yellow-green-75: #94d075;
	--primitive-color-yellow-green-80: #a3da86;
	--primitive-color-yellow-green-85: #b3e39b;
	--primitive-color-yellow-green-90: #c4efad;
	--primitive-color-yellow-green-95: #ddf6cf;
	--primitive-color-yellow-green-99: #fbfff2;

	/* Green
	--------------------------------------- */
	--primitive-color-green-5: #03130b;
	--primitive-color-green-10: #062516;
	--primitive-color-green-15: #041e13;
	--primitive-color-green-20: #013920;
	--primitive-color-green-25: #014225;
	--primitive-color-green-30: #005231;
	--primitive-color-green-35: #00663a;
	--primitive-color-green-40: #016d42;
	--primitive-color-green-45: #017e4a;
	--primitive-color-green-50: #008955;
	--primitive-color-green-55: #159d61;
	--primitive-color-green-60: #22a56c;
	--primitive-color-green-65: #34b178;
	--primitive-color-green-70: #46bf85;
	--primitive-color-green-75: #51c894;
	--primitive-color-green-80: #5cd59b;
	--primitive-color-green-85: #89e6b8;
	--primitive-color-green-90: #adf5d3;
	--primitive-color-green-95: #d9f6e6;
	--primitive-color-green-99: #f2fffe;

	/* Mint Green
	--------------------------------------- */
	--primitive-color-mint-green-5: #06130e;
	--primitive-color-mint-green-10: #0c261d;
	--primitive-color-mint-green-15: #101f18;
	--primitive-color-mint-green-20: #184c3b;
	--primitive-color-mint-green-25: #1c6148;
	--primitive-color-mint-green-30: #247258;
	--primitive-color-mint-green-35: #2c8470;
	--primitive-color-mint-green-40: #309876;
	--primitive-color-mint-green-45: #37ac85;
	--primitive-color-mint-green-50: #3dbf94;
	--primitive-color-mint-green-55: #50c5a1;
	--primitive-color-mint-green-60: #63cba9;
	--primitive-color-mint-green-65: #76d1b3;
	--primitive-color-mint-green-70: #8ad8be;
	--primitive-color-mint-green-75: #a0decc;
	--primitive-color-mint-green-80: #b1e5d4;
	--primitive-color-mint-green-85: #c4ece0;
	--primitive-color-mint-green-90: #d8f2e9;
	--primitive-color-mint-green-95: #ebf8f3;
	--primitive-color-mint-green-99: #f5fcfa;

	/* Teal Green
	--------------------------------------- */
	--primitive-color-teal-green-5: #00100e;
	--primitive-color-teal-green-10: #00201d;
	--primitive-color-teal-green-15: #012d28;
	--primitive-color-teal-green-20: #013733;
	--primitive-color-teal-green-25: #024244;
	--primitive-color-teal-green-30: #00504a;
	--primitive-color-teal-green-35: #005c56;
	--primitive-color-teal-green-40: #006a63;
	--primitive-color-teal-green-45: #007671;
	--primitive-color-teal-green-50: #00867e;
	--primitive-color-teal-green-55: #01918c;
	--primitive-color-teal-green-60: #01a298;
	--primitive-color-teal-green-65: #01aba3;
	--primitive-color-teal-green-70: #02b3a9;
	--primitive-color-teal-green-75: #29c5b9;
	--primitive-color-teal-green-80: #50dbcf;
	--primitive-color-teal-green-85: #83e8dd;
	--primitive-color-teal-green-90: #b6efe7;
	--primitive-color-teal-green-95: #d9f6f2;
	--primitive-color-teal-green-99: #f2fffe;

	/* Blue Green
	--------------------------------------- */
	--primitive-color-blue-green-5: #000f14;
	--primitive-color-blue-green-10: #001f28;
	--primitive-color-blue-green-15: #022c36;
	--primitive-color-blue-green-20: #003543;
	--primitive-color-blue-green-25: #0a444f;
	--primitive-color-blue-green-30: #155364;
	--primitive-color-blue-green-35: #0c6e81;
	--primitive-color-blue-green-40: #00829e;
	--primitive-color-blue-green-45: #1898a6;
	--primitive-color-blue-green-50: #3191ab;
	--primitive-color-blue-green-55: #42a0b5;
	--primitive-color-blue-green-60: #54aec7;
	--primitive-color-blue-green-65: #60bbd0;
	--primitive-color-blue-green-70: #6bbed6;
	--primitive-color-blue-green-75: #8dd1e4;
	--primitive-color-blue-green-80: #a8e1f4;
	--primitive-color-blue-green-85: #c1eff8;
	--primitive-color-blue-green-90: #daf5fd;
	--primitive-color-blue-green-95: #eafaff;
	--primitive-color-blue-green-99: #f9fdff;

	/* Sky Blue
	--------------------------------------- */
	--primitive-color-sky-blue-5: #000e1a;
	--primitive-color-sky-blue-10: #001d34;
	--primitive-color-sky-blue-15: #01253f;
	--primitive-color-sky-blue-20: #013355;
	--primitive-color-sky-blue-25: #02406b;
	--primitive-color-sky-blue-30: #004a77;
	--primitive-color-sky-blue-35: #00538b;
	--primitive-color-sky-blue-40: #005d95;
	--primitive-color-sky-blue-45: #006dab;
	--primitive-color-sky-blue-50: #007cc3;
	--primitive-color-sky-blue-55: #018bd6;
	--primitive-color-sky-blue-60: #0397e9;
	--primitive-color-sky-blue-65: #26a5f2;
	--primitive-color-sky-blue-70: #4eb2ff;
	--primitive-color-sky-blue-75: #72c1ff;
	--primitive-color-sky-blue-80: #96cbff;
	--primitive-color-sky-blue-85: #b2d8ff;
	--primitive-color-sky-blue-90: #cee5fe;
	--primitive-color-sky-blue-95: #e8f2ff;
	--primitive-color-sky-blue-99: #f2faff;

	/* Cobalt Blue
	--------------------------------------- */
	--primitive-color-cobalt-blue-5: #11142c;
	--primitive-color-cobalt-blue-10: #232959;
	--primitive-color-cobalt-blue-15: #2c328c;
	--primitive-color-cobalt-blue-20: #343d85;
	--primitive-color-cobalt-blue-25: #3f489f;
	--primitive-color-cobalt-blue-30: #4a57bf;
	--primitive-color-cobalt-blue-35: #4e61d8;
	--primitive-color-cobalt-blue-40: #5266f8;
	--primitive-color-cobalt-blue-45: #5c73f7;
	--primitive-color-cobalt-blue-50: #6c7dfc;
	--primitive-color-cobalt-blue-55: #768aff;
	--primitive-color-cobalt-blue-60: #8593ff;
	--primitive-color-cobalt-blue-65: #9eaaff;
	--primitive-color-cobalt-blue-70: #bac2ff;
	--primitive-color-cobalt-blue-75: #c8cfff;
	--primitive-color-cobalt-blue-80: #d5dbff;
	--primitive-color-cobalt-blue-85: #dce0ff;
	--primitive-color-cobalt-blue-90: #e0e4ff;
	--primitive-color-cobalt-blue-95: #eaedff;
	--primitive-color-cobalt-blue-99: #f7f8ff;

	/* Navy
	--------------------------------------- */
	--primitive-color-navy-5: #030d19;
	--primitive-color-navy-10: #051a32;
	--primitive-color-navy-15: #101f3c;
	--primitive-color-navy-20: #192b46;
	--primitive-color-navy-25: #21354f;
	--primitive-color-navy-30: #2b3e5b;
	--primitive-color-navy-35: #374a68;
	--primitive-color-navy-40: #405474;
	--primitive-color-navy-45: #4d6182;
	--primitive-color-navy-50: #576d8f;
	--primitive-color-navy-55: #647e9f;
	--primitive-color-navy-60: #7187ac;
	--primitive-color-navy-65: #7e95b9;
	--primitive-color-navy-70: #8ba2ca;
	--primitive-color-navy-75: #9db4d6;
	--primitive-color-navy-80: #a8c0e9;
	--primitive-color-navy-85: #c3d3f4;
	--primitive-color-navy-90: #d8e6fe;
	--primitive-color-navy-95: #e8effe;
	--primitive-color-navy-99: #fcfcff;

	/* Violet
	--------------------------------------- */
	--primitive-color-violet-5: #0e0031;
	--primitive-color-violet-10: #1b0063;
	--primitive-color-violet-15: #260082;
	--primitive-color-violet-20: #30009b;
	--primitive-color-violet-25: #3a12ad;
	--primitive-color-violet-30: #4925b9;
	--primitive-color-violet-35: #5437c5;
	--primitive-color-violet-40: #6243d2;
	--primitive-color-violet-45: #6f51df;
	--primitive-color-violet-50: #7a5eed;
	--primitive-color-violet-55: #8b6eff;
	--primitive-color-violet-60: #967cff;
	--primitive-color-violet-65: #a89afe;
	--primitive-color-violet-70: #b19efe;
	--primitive-color-violet-75: #c4b8ff;
	--primitive-color-violet-80: #ccbdff;
	--primitive-color-violet-85: #d7d3ff;
	--primitive-color-violet-90: #e7ddff;
	--primitive-color-violet-95: #f5edff;
	--primitive-color-violet-99: #fdfbff;

	/* Purple
	--------------------------------------- */
	--primitive-color-purple-5: #1b0021;
	--primitive-color-purple-10: #350042;
	--primitive-color-purple-15: #450055;
	--primitive-color-purple-20: #560069;
	--primitive-color-purple-25: #67007b;
	--primitive-color-purple-30: #790093;
	--primitive-color-purple-35: #8b0da2;
	--primitive-color-purple-40: #9a22b2;
	--primitive-color-purple-45: #a932c0;
	--primitive-color-purple-50: #b642cd;
	--primitive-color-purple-55: #c84eda;
	--primitive-color-purple-60: #d35eea;
	--primitive-color-purple-65: #e26efa;
	--primitive-color-purple-70: #ef7eff;
	--primitive-color-purple-75: #f494ff;
	--primitive-color-purple-80: #f9aaff;
	--primitive-color-purple-85: #fdcfff;
	--primitive-color-purple-90: #ffd5ff;
	--primitive-color-purple-95: #feeafe;
	--primitive-color-purple-99: #fefbff;

	/* Heritage-red
	--------------------------------------- */
	--primitive-color-heritage-red-5: #20000c;
	--primitive-color-heritage-red-10: #400017;
	--primitive-color-heritage-red-15: #530021;
	--primitive-color-heritage-red-20: #66002a;
	--primitive-color-heritage-red-25: #780034;
	--primitive-color-heritage-red-30: #8f003e;
	--primitive-color-heritage-red-35: #a50034;
	--primitive-color-heritage-red-40: #c60449;
	--primitive-color-heritage-red-45: #d91757;
	--primitive-color-heritage-red-50: #db3265;
	--primitive-color-heritage-red-55: #ed3f76;
	--primitive-color-heritage-red-60: #fe4e87;
	--primitive-color-heritage-red-65: #ff6997;
	--primitive-color-heritage-red-70: #ff84a6;
	--primitive-color-heritage-red-75: #ffa0b5;
	--primitive-color-heritage-red-80: #ffb1c3;
	--primitive-color-heritage-red-85: #ffc5d2;
	--primitive-color-heritage-red-90: #ffd9e1;
	--primitive-color-heritage-red-95: #ffecef;
	--primitive-color-heritage-red-99: #fffbfe;

	/* Red Brown
	--------------------------------------- */
	--primitive-color-red-brown-5: #200001;
	--primitive-color-red-brown-10: #410102;
	--primitive-color-red-brown-15: #500d0b;
	--primitive-color-red-brown-20: #5f1511;
	--primitive-color-red-brown-25: #6f201a;
	--primitive-color-red-brown-30: #7d2b25;
	--primitive-color-red-brown-35: #8e372f;
	--primitive-color-red-brown-40: #9b423a;
	--primitive-color-red-brown-45: #ab4e45;
	--primitive-color-red-brown-50: #bb5a50;
	--primitive-color-red-brown-55: #cb685a;
	--primitive-color-red-brown-60: #d97167;
	--primitive-color-red-brown-65: #e98973;
	--primitive-color-red-brown-70: #fa8b80;
	--primitive-color-red-brown-75: #ff9d92;
	--primitive-color-red-brown-80: #ffb4a9;
	--primitive-color-red-brown-85: #ffc4bc;
	--primitive-color-red-brown-90: #ffd9d4;
	--primitive-color-red-brown-95: #ffede9;
	--primitive-color-red-brown-99: #fffbfb;

	/* Brown
	--------------------------------------- */
	--primitive-color-brown-5: #150b07;
	--primitive-color-brown-10: #2b160f;
	--primitive-color-brown-15: #361f18;
	--primitive-color-brown-20: #422b22;
	--primitive-color-brown-25: #4d362a;
	--primitive-color-brown-30: #5b4137;
	--primitive-color-brown-35: #684c41;
	--primitive-color-brown-40: #75584e;
	--primitive-color-brown-45: #826358;
	--primitive-color-brown-50: #8f7065;
	--primitive-color-brown-55: #9d7d71;
	--primitive-color-brown-60: #ab8a7e;
	--primitive-color-brown-65: #b89589;
	--primitive-color-brown-70: #c7a297;
	--primitive-color-brown-75: #d6afa4;
	--primitive-color-brown-80: #e4beb1;
	--primitive-color-brown-85: #f1cabc;
	--primitive-color-brown-90: #ffdbcd;
	--primitive-color-brown-95: #ffede6;
	--primitive-color-brown-99: #fcfcfc;
}
