/* radius-primitive.css */

/* ----------------------------------------
Primitive Radius Tokens
------------------------------------------- */

:root {
	--primitive-radius-0: 0;
	--primitive-radius-2: 2px;
	--primitive-radius-4: 4px;
	--primitive-radius-6: 6px;
	--primitive-radius-8: 8px;
	--primitive-radius-10: 10px;
	--primitive-radius-12: 12px;
	--primitive-radius-16: 16px;
	--primitive-radius-20: 20px;
	--primitive-radius-24: 24px;
	--primitive-radius-30: 30px;
	--primitive-radius-36: 36px;
	--primitive-radius-40: 40px;
	--primitive-radius-44: 44px;
	--primitive-radius-48: 48px;
	--primitive-radius-60: 50px;
	--primitive-radius-999: 999px;
}
