/* styles/border-radius.css */

/* ----------------------------------------
Border-radius Tokens
------------------------------------------- */

:root {
	--ref-border-radius-0: 0;
	--ref-border-radius-6: 6px;
	--ref-border-radius-12: 12px;
	--ref-border-radius-24: 24px;
	--ref-border-radius-36: 36px;
	--ref-border-radius-48: 48px;
	--ref-border-radius-60: 60px;
	--ref-border-radius-full: 999px;
}
