/* styles/spacing.css */

/* ----------------------------------------
Spacing Tokens
------------------------------------------- */

:root {
	--ref-spacing-6: 6px;
	--ref-spacing-12: 12px;
	--ref-spacing-24: 24px;
	--ref-spacing-30: 30px;
	--ref-spacing-36: 36px;
	--ref-spacing-48: 48px;
	--ref-spacing-54: 54px;
	--ref-spacing-60: 60px;
	--ref-spacing-72: 72px;
	--ref-spacing-84: 84px;
	--ref-spacing-90: 90px;
	--ref-spacing-96: 96px;
	--ref-spacing-120: 120px;
	--ref-spacing-132: 132px;
}
